* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.header-box {
  text-align: center;
}

header {
  font-size: 2rem;
  color: white;
  vertical-align: middle;
  display: flex;
  align-items: center;
  background-color: black;
  font-weight: bold;
}

.header-logo {
  padding: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.2em;
}

.header-input {
  font-size: 1rem;
  width: 80%;
  height: 40px;
  margin-left: 0.5em;
  margin-right: 0em;
  border: none;
  border-radius: 2px;
}

.header-search {
  width: 45px;
  height: 40px;
  margin-right: 0.5em;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  background-color: rgb(58, 56, 56);
}

.header-search-img {
  width: 20px;
  height: 20px;
  text-align: center;
}
